body{
    font-family: 'Raleway', serif;
}
.row1{
    height: 500px;
}
.menu_simple ul {
    margin-top: 35px;
    padding: 0;
    width:185px;
    text-align: center;
    list-style-type: none;
    margin-top: 100px;
    margin-left: 0;
    z-index: 1000;
    position: absolute;
    top:100px;
}

.menu_simple ul li a {
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #8B3A3A;
    display:block;
    border-radius: 25px;
    font-weight: 400;
}
.menu_simple ul li a:visited {
    color: white;
}

.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: #D0906D;
}
.picture h1{
    border-radius: 50%;
    height: 200px;
    vertical-align: top;
    position: absolute;
    top:0;
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    margin-left: 15%;
    z-index: 2000;
    font-size: 64px;
}
.picture h2{
    border-radius: 50%;
    height: 200px;
    vertical-align: top;
    position: absolute;
    top:50px;
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    margin-left: 18.6%;
    z-index: 2000;
    font-size: 64px;
}
.picture p {
    border-radius: 50%;
    height: 200px;
    vertical-align: top;
    position: absolute;
    top:124px;
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    margin-left: 15.5%;
    z-index: 2000;
}
.picture img {
    border-radius: 50%;
    height: 200px;
    margin: -66px 0 22px 0;
    vertical-align: top;
    position: absolute;
    top:65px;
    margin-left: 0;
    z-index: 2000;
}
.cb-slideshow,
.cb-slideshow:after { 
    position: relative;
    width: 100%;
    height: 658px;
    top: 0px;
    left: 0px;
    margin-left:0;
    z-index: 1;
}
.cb-slideshow:after {
    content: '';
}
.cb-slideshow li {
    list-style-type: none;
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 25px;
    color: transparent;
    background-size: cover;
    background-repeat: none;
    opacity: 0;
    z-index: 1;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 3;
    position: relative;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-left: 10%;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 40Ss linear infinite 0s;
    -moz-animation: titleAnimation 40s linear infinite 0s;
    -o-animation: titleAnimation 40s linear infinite 0s;
    -ms-animation: titleAnimation 40s linear infinite 0s;
    animation: titleAnimation 40s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'Raleway','serif';
    font-size: 64px;
    font-weight:bolder;
    line-height:120px;
    position: relative;
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url("originalroadImaya.jpg");
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url("design.jpg");
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url("designimaya0.jpg");
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    -ms-animation-delay: 16s;
    animation-delay: 16s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url("replace.jpg");
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url("motto.jpg");
    -webkit-animation-delay: 32s;
    -moz-animation-delay: 32s;
    -o-animation-delay: 32s;
    -ms-animation-delay: 32s;
    animation-delay: 32s; 
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    -ms-animation-delay: 16s;
    animation-delay: 16s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 32s;
    -moz-animation-delay: 32s;
    -o-animation-delay: 32s;
    -ms-animation-delay: 32s;
    animation-delay: 32s; 
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 1;
    -webkit-animation-timing-function: ease-in; }
    10% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    20% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    10% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    20% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    10% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    20% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    10% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    20% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    10% { opacity: 1;
         animation-timing-function: ease-out; }
    20% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    10% { opacity: 1 }
    20% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    10% { opacity: 1 }
    20% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    10% { opacity: 1 }
    20% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    10% { opacity: 1 }
    20% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    10% { opacity: 1 }
    20% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}
.sample{
   position: absolute;
    width: 60%;
    margin-left: -54px;
}
#id_number2{
    position: relative;
    width:100%;
/*    margin-left: 10%;*/
}
#id_number{
    position:relative;
    width:100%;
}
#id_number1{
    position: relative;
    width:96%;
    margin-left: 20%;
}
.format{
    display: inline-block;
}
.button{
    background-color: #8B3A3A;
    margin-left: 80%;
    border-radius: 25px;
    width: 20%;
    color: white;
    font-weight: bolder;
}
.button:hover{
    background-color: #D0906D;
}
form{
    color: black;
}
.social{
    position: absolute;
    margin-top: 50px;
    display:inline-block;
    padding-left: 75%;
    height: 100px;
    z-index: 1000;
}
.foot h4{
    position: absolute;
    text-align: center;
    color: aliceblue;
    padding-top: 90px;
    padding-left: 42%;
    font-weight: bold;
    z-index: 1000;
}
.foot h5{
    position: absolute;
    text-align: center;
    color: #D0906D;
    padding-top: 60px;
    padding-left: 10px;
    font-weight: bold;
    z-index: 1000;
}
.block{
    display: inline-block;
    width: 24%;
    padding-left: 20px;
}